body{
	margin:0;
	padding:0;
	height:90vh;
	background-color:#EEEEEE;
	background-size:cover;
} 

.content{
background-color:#0277BD;
z-index:1;
font-family: Georgia,serif;
position: absolute;
top: 50%;
left:30%;
text-align:center;
transform: translate(-50%,-50%);
width: 450px;
padding: 25px 45px 45px 45px;
border-radius: 20px;
border: 4px solid #212121;
}
h1{
	color: #212121;
	font-family: "Arial Black",Gadget,sans-serif; 
	font-size:50px;
	text-align: center;
	position: absolute;
	top: 70px;
	left: 35%;
}

.Btn1 {
    width:100px;
	background-color:#333;
	color:white;
    font-size:14px ;
    font-family:Georgia,serif; 
	border: 2px solid black; 
	padding:5px;
    position:absolute;	
	left:340px;
	border-radius: 20px;
	cursor:pointer;
}
.Btn2 {
    width:100px;
	background-color:#333;
	color:white;
    font-size:14px ;
    font-family:Georgia,serif; 
	border: 2px solid black; 
	padding:5px;
    position:absolute;	
	left:215px;
	border-radius: 20px;
	cursor:pointer;
}
.Btn3 {
    width:100px;
	background-color:#333;
	color:white;
    font-size:14px ;
    font-family:Georgia,serif; 
	border: 2px solid black; 
	padding:5px;
    position:absolute;	
	left:90px;
	border-radius: 20px;
	cursor:pointer;
}

.content input{
	font-family: Georgia,serif;
	font-size: 15px;
	text-align: center;
	border: 3px solid #01579B;
}

